@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:100;font-size:16px;}
u{text-decoration: none;}
a{text-decoration: none;cursor: pointer;color: #333;}
input{outline:none;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
.clearfix{zoom:1;}


#header{
	width: 1280px;
	height: 76px;
	background-color: #303030;
	margin: 0 auto;
}
#logo{
	float: left;
	position: relative;
	left: 30px;
	top: 20px;
}
.menulist{
	width: 1000px;
	height: 76px;
	float: right;
	text-align: center;
}
.menulist ul li{
	width: 82px;
	height: 67px;
	float: right;
	padding-top: 8px;
}
.menulist ul .first{
	width: 102px;
}
.menulist ul li:hover{
	background-color: #335B64;
}
.menulist ul li a{
	font-size: 32px;
	color: #fff;
}
.menulist ul li span{
	display: block;
	font-size: 12px;
	color: #fff;
	margin-top:6px;
}
/* nav*/
.nav{
	width: 1280px;
	height: 41px;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	background: #575757;
}
.nav ul{
	margin-left: 32px;
}
.nav li{
	float: left;
	font-size: 12px;
	color: #fff;
	height: 41px;
	line-height: 41px;
}
.nav li span{
	margin:0 14px 3px 10px;
	color: #fff;
	font-size:12px;
}
.br a{
	margin-left: 14px;
	border-right: 1px solid #303030;
	color: #fff;
	font-size: 18px;
}
.nav .clear a{
	margin-left:0;
}
.br i{
	display: inline-block;
	width: 32px;
	height: 16px;
	background: red;
	border-radius: 10px;
	font-size: 10px;
	color: #fff;
	text-align: center;
	line-height: 16px;
}
.nav li:hover{
	background-color: #ccc;
}
.rb{
	margin-right: 12px;
}
/*main*/
.main{
	width: 1280px;
	height: ;
}
