<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title></title>
	<link rel="stylesheet" href="/css/index1.css" />
	<link rel="stylesheet" href="/css/iconfont.css" />
	<link rel="stylesheet" href="/css/iconfont2.css" />
		
</head>
<!--header-->
<body>
	<div id="header">
		<img id="logo" src="/img/logo_03.jpg" alt="" />
		<div class="menulist">
			<ul>
				<li>
					<a class=" iconfont icon-icon"  href="javascript:;">
						<span>退出</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-qingchu"  href="javascript:;">
						<span>清除缓存</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-guanyu"  href="javascript:;">
						<span>关于ECSHOP</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-bangzhu"  href="javascript:;">
						<span>帮助</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-gouwuche"  href="javascript:;">
						<span>查看网店</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-liuyanjianyi"  href="javascript:;">
						<span>管理留言</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-shezhi"  href="javascript:;">
						<span>个人设置</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-shuaxin"  href="javascript:;">
						<span>刷新</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-work-copy"  href="javascript:;">
						<span>记事本</span>
					</a>
				</li>
				<li>
					<a class=" iconfont icon-iconset0438" href="javascript:;">
						<span>开店向导</span>
					</a>
				</li>
				<li class="first">
					<a class=" iconfont icon-icon-test" href="javascript:;">
						<span>更多模板堂产品</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--nav-->
	<div class="nav clearfix">
		<ul>
			<li class="br clear">
				<a class="iconfont icon-fangzi" href="javascript:;"><span>起始页</span></a>
			</li>
			<li class="br">
				<a class="iconfont icon-mian-dianshi" href="javascript:;"><span>设置导航栏	</span></a>
			</li>
			<li class="br rb">
				<a class="iconfont icon-wenjian" href="javascript:;"><span>商品管理</span><i>34</i></a>
			</li>
			<li class="br rb">
				<a class="iconfont icon-order" href="javascript:;"><span>订单管理</span><i>0</i></a>
			</li>
			<li class="br rb">
				<a class="iconfont icon-shengyinyinliang" href="javascript:;"><span>广告管理</span><i>0</i></a>
			</li>
			<li class="br rb">
				<a class="iconfont icon-yonghu" href="javascript:;"><span>用户评论</span><i>0</i></a>
			</li>
			<li>
				<a href="javascript:;"><span>用户评论</span></a>
			</li>
			<li>
				<a href="javascript:;"><span>商品列表</span></a>
			</li>
			<li>
				<a href="javascript:;"><span>会员列表</span></a>
			</li>
			<li>
				<a href="javascript:;"><span>商店设置</span></a>
			</li>
			<li>
				<a href="javascript:;"><span>移动版</span></a>
			</li>
			<li>
				<a href="javascript:;"><span>服务市场</span></a>
			</li>
		</ul>
	</div>
</html>