<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title>ECSHOP管理中心</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>
<frameset rows="118,*" framespacing="0" border="0">
	<frame src="http://localhost:8080/index1" id="header-frame" name="header-frame" frameborder="no" scrolling="no" style="background: #212121;"></frame>
	<frameset cols="180, 10, *" framespacing="0" border="0" id="frame-body">
	    <frame src="http://localhost:8080/index2" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes">
	    <frame src="http://localhost:8080/index3" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no">
	    <frame src="http://localhost:8080/index5" id="main-frame" name="main-frame" frameborder="no" scrolling="yes">
	</frameset>
</frameset>
</html>
