<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title></title>
	<link rel="stylesheet" href="/css/index2.css" />
</head>
<body style="cursor: auto;">
	<div id=tabbar-div>
		<p>导航菜单</p>
	</div>
	<div id="main-div">
	   	<ul id="menu-list">
	    	<li class="icon-1 collapse">商品管理
	    		<ul style="display: block;">
			        <li class="menu-item"><a href="http://localhost:8080/index4" target="main-frame">商品列表</a></li>
			        <li class="menu-item"><a href="http://localhost:8080/index5" target="main-frame" class=" on">添加新商品</a></li>
			        <li class="menu-item"><a href="javascript:;" target="main-frame">商品分类</a></li>
			        <li class="menu-item"><a href="javascript:;" target="main-frame">用户评论</a></li>
			        <li class="menu-item"><a href="javascript:;" target="main-frame">商品品牌</a></li>
			        <li class="menu-item"><a href="javascript:;" target="main-frame">商品类型</a></li>
			        <!--
			        <a target="mainContent" href="https://www.baidu.com">百度</a>
					<a target="mainContent" href="http://www.1000phone.com">千锋</a>
					<iframe name="mainContent" src=""></iframe>阻止冒泡
					-->

	        	</ul>
	    	</li>
	    	<li class="icon-2 collapse">促销管理</li>
	    	<li class="icon-3 collapse">订单管理</li>
	    	<li class="icon-4 collapse">广告管理</li>
	    	<li class="icon-5 collapse">报表管理</li>
	    	<li class="icon-6 collapse">文章管理</li>
	    	<li class="icon-7 collapse">商品管理</li>
	    	<li class="icon-8 collapse">促销管理</li>
	    	<li class="icon-9 collapse">订单管理</li>
	    	<li class="icon-10 collapse">广告管理</li>
	    	<li class="icon-11 collapse">报表管理</li>
	    	<li class="icon-12 collapse">文章管理</li>
	    	<li class="icon-13 collapse">广告管理</li>
	    	<li class="icon-14 collapse">报表管理</li>
	    	<li class="icon-15 collapse">文章管理</li>
	    </ul>
	</div>
</body>
</html>
