<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title></title>
	<link rel="stylesheet" href="../public/css/index3.css" />
</head>
<body>
	<div id="butt">
		<a href="javascript:;">
			<img id="img" src="../public/img/arrow_left.gif" alt="" />
		</a>
	</div>
</body>
</html>