<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title>ECSHOP管理中心</title>
	<link rel="stylesheet" href="css/index.css" />
</head>
<frameset rows="118,*" framespacing="0" border="0">
	<frame src="index1.ejs" id="header-frame" name="header-frame" frameborder="no" scrolling="no" style="background: #212121;"></frame>
	<frameset cols="180, 10, *" framespacing="0" border="0" id="frame-body">
	    <frame src="index2.ejs" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes">
	    <frame src="index3.ejs" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no">
	    <frame src="index5.ejs" id="main-frame" name="main-frame" frameborder="no" scrolling="yes">
	</frameset>
</frameset>
</html>
